.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sliderContainer {
    position: absolute;
    top: calc(100vh - 280px);
    width: 100%;

    .slider {
      display: flex;
      white-space: nowrap;
      position: relative;
      /* Ensures the container is wide enough for all repeats */
      width: max-content; 

      p {
        margin: 0;
        color: white;
        font-size: 9vw;
        font-weight: 500;
        padding-right: 40px; // Spacing between the end of one set and start of next
      }
    }
  }
}