.landing {
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #999D9E; // Temporary background color

    .sliderContainer {
        position: absolute;
        top: calc(100vh - 350px);

        .slider {
            position: relative;
            white-space: nowrap;
            display: flex;

            p {
                position: relative;
                margin: 0px;
                color: white;
                font-size: 230px;
                font-weight: 500;
                padding-right: 50px;
            }
        }
    }

    .description {
        position: absolute;
        top: 35%;
        left: 65%;
        color: white;
        font-size: 24px;
        font-weight: 300;
        
        .svgContainer {
            margin-bottom: 20px;
            transform: scale(3);
            display: inline-block;
        }

        p {
            margin: 0px;
            text-transform: uppercase;
            line-height: 1.2;
        }
    }
}