/* src/components/common/RoundedButton/style.module.scss */

.roundedButton {
    border-radius: 3em;
    border: 1px solid rgb(136, 136, 136);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 60px;
    cursor: pointer;
    
    /* STEP 3 MAGIC: This hides the blue circle until it slides up */
    overflow: hidden; 

    p {
        position: relative;
        z-index: 1; 
        transition: color 0.4s linear;
        margin: 0;
        color: white; // Default text color
    }

    .circle {
        width: 100%;
        height: 150%;
        position: absolute;
        border-radius: 50%;
        
        /* STEP 3 MAGIC: Sits invisible below the button */
        top: 100%; 
        left: 0;
    }
}