.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
  z-index: 10;
  mix-blend-mode: difference;

  .logo {
    display: flex;
    gap: 10px;

    .copyright {
      font-size: 12px;
      color: white;
    }

    .name {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 2px;
      
      p {
        margin: 0;
        font-size: 12px;
        color: white;
        position: relative;
        
        &.codeBy {
          animation: fadeIn 1s ease-in-out 0.5s forwards;
          opacity: 0;
        }
        
        &.akhand {
          animation: fadeIn 1s ease-in-out 0.7s forwards;
          opacity: 0;
        }
        
      }
    }
  }

  .nav {
    display: flex;
    gap: 20px;

    .el {
      position: relative;
      padding: 0 5px;
      cursor: pointer;

      a {
        font-size: 12px;
        color: white;
        text-decoration: none;
        position: relative;
      }

      .indicator {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
      }

      &:hover .indicator {
        width: 100%;
      }
    }
  }
}

.headerButtonContainer {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  padding: 30px 40px;
  transform: scale(0);
  
  .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #455CE9;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .burger {
      width: 100%;
      
      &::after,
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        margin: auto;
        background-color: white;
        position: relative;
        transition: transform 0.3s;
      }
      
      &::after {
        top: -5px;
      }
      
      &::before {
        top: 5px;
      }
      
      &.burgerActive {
        &::after {
          transform: rotate(45deg);
          top: -1px;
        }
        
        &::before {
          transform: rotate(-45deg);
          top: 0px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}